.html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: block;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url("IMG-20241023-WA0044.jpg");filter: blur(0px);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}
.navbar ul{
    background-size: cover;
    background-repeat: no-repeat;
    width: 55%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: end;
    position: absolute;

}
.header{
    width: 120px;
    cursor: pointer;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
.navbar ul li a{
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar ul li:hover:after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    
}
.content h1{
    font-size: 70px;
    margin-top: 80px;

}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.span{
    background: #fff;
    height: 100%;
    width: 0;
    border-radius: 25%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.button:hover span{

    width: 100%;

}
.button:hover{
    border: none;
}
